@charset "UTF-8";
:root {
  --primary-color: #950740;
  --secondary-color: #c3073f;
  --background-color: #ffffff;
  --white-color: #ffffff;
  --gray-color: #4e4e50;
  --dark-gray-color: #333;
  --highlight-color: #6f2232;
  --light-gray-color: #eaeaea;
  --text-color: #1a1a1d;
  --card-bg-color: #f4f4f4;
  --error-color: #f44336;
  --success-color: #4CAF50;
  --info-color: #2196F3;
  --warning-color: #FF9800;
  --muted-color: #888888;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --overlay-color: rgba(0, 0, 0, 0.6);
  --hover-bg-color: #eee;
  --active-bg-color: #ddd;
}

:root.dark-theme {
  --primary-color: #950740;
  --secondary-color: #c3073f;
  --background-color: #1a1a1d;
  --white-color: #ffffff;
  --gray-color: #4e4e50;
  --dark-gray-color: #333;
  --highlight-color: #6f2232;
  --light-gray-color: #eaeaea;
  --text-color: #ffffff;
  --card-bg-color: #2b2b2e;
  --error-color: #f44336;
  --success-color: #4CAF50;
  --info-color: #2196F3;
  --warning-color: #FF9800;
  --muted-color: #888888;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --overlay-color: rgba(0, 0, 0, 0.6);
  --hover-bg-color: #333;
  --active-bg-color: #444;
}

#flash-toast-container {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1000;
}

.flash-toast {
  padding: 1rem 1.5rem;
  border-radius: 8px;
  font-weight: bold;
  color: var(--white-color);
  animation: fadeInOut 4s ease forwards;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  min-width: 250px;
  opacity: 0; /* Начальная непрозрачность */
  transform: translateY(-20px); /* Начальное смещение вверх */
}
.flash-toast.show {
  opacity: 1; /* Делаем видимым */
  transform: translateY(0); /* Возвращаем в исходное положение */
}
.flash-toast.success {
  background-color: var(--success-color);
}
.flash-toast.error {
  background-color: var(--error-color);
}
.flash-toast.info {
  background-color: var(--info-color);
}
.flash-toast.warning {
  background-color: var(--warning-color);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10%, 90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}